body {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
}

h1 {
    border: solid blue 3px;
    padding: 0;
    margin: 0;
    width: 500px;
    background-color: cornflowerblue;
    transform: translateX(75%);
}

#go {
    margin: 0;
    height: 30px;
}