#image {
    background-image: url("http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2018-11-30t153804z_1078111843_rc16130e3990_rtrmadp_3_g20-argentina-family-photo_0.jpg");
    width: 1024px;
    height: 578px;
    margin: auto;
}

#Trump {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-550%, 140%);
}

#May {
    position: absolute;
    width: 250px;
    height: 120px;
    border-radius: 50px;
    transform: translate(-410%, 140%);
    opacity: 0.5;
}